* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* 样式表头 */
.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}

/* 弹性盒子的容器 */
.row {
  display: -webkit-flex;
  display: flex;
}

/* 创建三个相邻的相等列 */
.column {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px;
  height: 300px;
  /* 应该移除。 仅供演示 */
}

/* 样式页脚 */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

/* 响应式布局 - 使三列堆叠在彼此之上而不是彼此相邻 */
@media (max-width: 600px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}