<!DOCTYPE html>
<html>
<head>
	<title>Ciallo World</title>
	<script src="{{.static}}/js/index.js"></script>
	<link rel="stylesheet" href="{{.static}}/css/index.css"></link>
</head>
<body>
	<div id="main">
		<div class="header">
			<h2>嵌入式管理系统</h2>
		</div>
		<div class="row">
			<div class="column">{{.data}}</div>
			<div class="column">{{.data}}</div>
			<div class="column">{{.data}}</div>
			<div class="column">{{.data}}</div>
		</div>
		<div class="footer">
			<div class="column">{{.data}}</div>
		</div>
	</div>
</body>
</html>
